<ion-header>
  <ion-toolbar>
    <ion-title class="title">Calculadora</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="calculatorForm">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Dividendo</ion-label>
        <ion-input formControlName="dividend"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Divisor</ion-label>
        <ion-input formControlName="divider"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button id="calculate" [disabled]="calculatorForm.invalid" class="ion-margin-top" expand="block" (click)="divider()">Divisão já!</ion-button>
    <p id="quotient" class="ion-text-center">{{quotient}}</p>
  </form>
</ion-content>
