<ion-card>  
  <ion-item>
    <ion-icon color="{{color}}" name="{{icon}}" slot="start"></ion-icon>
    <ion-label>{{title}}</ion-label>
    <ion-button fill="outline" slot="end" routerLink="/bill/{{type}}" *ngIf="validView()">Ver</ion-button>
  </ion-item>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col size="1" *ngIf="validView()">
          <ion-badge color="{{color}}">
            {{billSize}}
          </ion-badge>
        </ion-col>
        <ion-col class="ion-text-center">
          <ion-text color="{{color}}">
            <p>
              {{billValue | currency: "BRL":true}}
            </p>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>