<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="ifsp"></ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="billForm" (submit)="create()">
    <ion-item class="ion-margin-top">
      <ion-icon name="person" color="ifsp" slot="start"></ion-icon>
      <ion-input formControlName="partner" placeholder="Parceiro comercial" autofocus="true"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-top">
      <ion-icon name="document" color="ifsp" slot="start"></ion-icon>
      <ion-input formControlName="description" placeholder="Descrição"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-top">
      <ion-icon name="wallet" color="ifsp" slot="start"></ion-icon>
      <ion-input formControlName="value" type="number" placeholder="Valor"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-top">
      <ion-label>Vencimento</ion-label>
      <ion-datetime formControlName="date" displayFormat="DD/MM/YYYY" pickerFormat="DD MMMM YYYY"></ion-datetime>
    </ion-item>

    <ion-radio-group formControlName="type">
      <ion-item  class="ion-margin-top">
        <ion-label>À pagar</ion-label>
        <ion-radio slot="start" value="pay"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>À receber</ion-label>
        <ion-radio slot="start" value="receivable"></ion-radio>
      </ion-item>
    </ion-radio-group>

    <ion-button class="ion-margin-top" [disabled]="billForm.invalid" type="submit" expand="block" color="ifsp">Enviar</ion-button>
  </form>

</ion-content>