<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="ifsp"></ion-back-button>
    </ion-buttons>
    <ion-title>Bills {{type}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list >
    <ion-item *ngFor="let p of bills" >
      <ion-label>
        <h2>{{p.partner}}</h2>
        <p>{{p.description}}</p>
        <h3>R$ {{p.value}}</h3>
      </ion-label>
      <ion-icon slot="end" name="create" color="ifsp" (click)="edit(p)"></ion-icon>
      <ion-icon slot="end" name="trash" color="error" (click)="remove(p)"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="ifsp" [routerLink]="['/bill/register']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>