<ion-content class="ion-padding">

  <header-login title="Cadastro"></header-login>

  <form [formGroup]="registerForm" (submit)="createUser()">
    <ion-item class="ion-margin-top">
      <ion-icon name="person" color="ifsp" slot="start"></ion-icon>
      <ion-input formControlName="firstName" type="text" placeholder="Nome"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-top">
      <ion-icon name="person" color="ifsp" slot="start"></ion-icon>
      <ion-input formControlName="lastName" type="text" placeholder="Sobrenome"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-top">
      <ion-icon name="mail" color="ifsp" slot="start"></ion-icon>
      <ion-input formControlName="email" type="email" placeholder="E-mail" autofocus="true"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-top">
      <ion-icon name="lock-closed" color="ifsp" slot="start"></ion-icon>
      <ion-input formControlName="password" type="password" placeholder="Password"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-top">
      <ion-icon name="lock-closed" color="ifsp" slot="start"></ion-icon>
      <ion-input formControlName="confirmPassword" type="password" placeholder="Confirmation password"></ion-input>
    </ion-item>

    <ion-button class="ion-margin-top" [disabled]="registerForm.invalid" type="submit" expand="block" color="ifsp">Entrar</ion-button>
  </form>

</ion-content>

<ion-footer class="ion-padding">
  <button-goback link="/auth"></button-goback>
</ion-footer>
