<ion-grid class="ion-text-center">
  <ion-row>
    <ion-col>
      <div>
        <ion-text color="medium">
          <h1>{{title}}</h1>
        </ion-text>
      </div>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <div>
        <img src="../../../assets/icon/if_logo.png">
      </div>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <div>
        <ion-text color="medium">
          <h3>
            iFinanças
          </h3>
        </ion-text>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>