<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title (click)="logout()">
      iFinanças na área!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label>Mês</ion-label>
    <ion-datetime displayFormat="MM/YYYY" pickerFormat="MMMM YYYY"[(ngModel)]="month" (ngModelChange)="showBills()"></ion-datetime>
  </ion-item>
  <dash-bill-card type="pay" billValue={{bill.pay.sum}} billSize={{bill.pay.count}}></dash-bill-card>
  <dash-bill-card type="receivable" billValue={{bill.receivable.sum}} billSize={{bill.receivable.count}}></dash-bill-card>
  <dash-bill-card type="balance" billValue={{bill.balance.sum}}></dash-bill-card>
  <div>
    <ion-button color="ifsp" fill="outline" expand="block" [routerLink]="['/bill/pay']">Contas à pagar</ion-button>
    <ion-button color="ifsp" fill="outline" class="ion-margin-top" expand="block" [routerLink]="['/bill/receivable']">Contas à receber</ion-button>
  </div>
</ion-content>

<ion-footer class="ion-padding">
  <button-goback link="/auth"></button-goback>
</ion-footer>
