<ion-content class="ion-padding">

  <header-login title="Login"></header-login>

  <form [formGroup]="loginForm" (submit)="login()">
    <ion-item class="ion-margin-top">
      <ion-icon name="mail" color="ifsp" slot="start"></ion-icon>
      <ion-input formControlName="email" type="email" placeholder="E-mail" autofocus="true"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-top">
      <ion-icon name="lock-closed" color="ifsp" slot="start"></ion-icon>
      <ion-input formControlName="password" type="password" placeholder="Password"></ion-input>
    </ion-item>

    <ion-button class="ion-margin-top" [disabled]="loginForm.invalid" type="submit" expand="block" color="ifsp">Entrar</ion-button>
    <ion-button class="ion-margin-top" [routerLink]="['/auth/forgot']" fill="clear" expand="block" color="medium">Esqueci minha senha</ion-button>
  </form>

</ion-content>

<ion-footer class="ion-padding">
  <ion-button class="ion-margin-bottom" [routerLink]="['/auth/register']" expand="block" color="ifsp">Criar usuário</ion-button>
</ion-footer>