<ion-content class="ion-padding">

  <header-login title="Recuperação de senha"></header-login>

  <form [formGroup]="forgotForm" (submit)="recoveryPass()">
    <ion-item class="ion-margin-top">
      <ion-icon name="mail" color="ifsp" slot="start"></ion-icon>
      <ion-input formControlName="email" type="email" placeholder="E-mail" autofocus="true"></ion-input>
    </ion-item>
    <ion-button class="ion-margin-top" [disabled]="forgotForm.invalid" type="submit" expand="block" color="ifsp">Recuperar</ion-button>
  </form>

</ion-content>

<ion-footer class="ion-padding">
  <button-goback link="/auth"></button-goback>
</ion-footer>